@font-face {
    font-family: BYekan;
    src: url("../font/BYekan/BYekan-webfont.eot") format("eot"),
    url("../font/BYekan/BYekan-webfont.ttf") format("ttf"),
    url("../font/BYekan/BYekan-webfont.woff") format("woff");
    font-weight: bolder;
    font-style: normal;
}

*{
direction: rtl;
font-family: BYekan;
}

.w_100{
    width: 100% !important;
}

@media(min-width:600px){
    .top-navbar{
        box-shadow: 0 0 50px gray !important;
    }
    #top-actions-section{
        display: flex !important;
        align-items: center !important;
        
    }
}


.Users-list-item.active .Users-list-arrow-icon{
    transform: rotate(180deg);
}
.Users-list-item.active , .Users-list-item.active .collapsible-header{
    background-color: rgba(231, 229, 229, 0.733);
}
table.highlight > tbody > tr:hover {
    background-color: rgba(54, 199, 235, 0.5);
}

.add-User-modal-black{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 999;

}
.add-User-modal{
    position: fixed;
    height: 70vh;
    background-color: white;
    bottom: 0;
    z-index: 1000;
    border-radius: 30px 30px 0 0 ;
    left: 0;
    right: 0;
    bottom: -70vh;

}
.add-User-modal.show{
box-shadow: 0 0 10px blue;
    bottom: 0;
}

.sidenav-link-icon{
     margin: 0 0 0 25px !important;
}

.container{
    width: 100% !important;
}

.buttons-transition{
    transition: all 0.2s;
}

.light-hover{
    background-color: aqua;
}